<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <head th:replace="fragments/header :: header"></head>
    <title>Ecommerce - Cart</title>
  </head>
  <body>
    <div>
      <!--- navbar and account bar -->
      <div th:replace="fragments/navbar :: navbar"></div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <h1 class="text-center">Cart</h1>
          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 justify-content-center"
          >
            <div th:each="item : ${CartItems}" class="col">
              <!--- should loop over the list-->
              <div class="card h-100 shadow-sm text-center">
                <div class="card-body">
                  <h5 class="card-title" th:text="${item.product.name}">
                    Card Title
                  </h5>
                  <p class="card-text" th:text="${item.product.description}">
                    Some quick example text to build on the card title.
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item"
                    th:text="'Price: ' + ${item.product.price}"
                  >
                    Price
                  </li>
                  <li
                    class="list-group-item"
                    th:text="'Delivery Time: ' + ${item.product.deliveryTime}"
                  >
                    Delivery Time
                  </li>
                </ul>
                <div class="card-body d-flex flex-column align-items-center">
                  <form
                    th:action="@{/cart/remove}"
                    method="post"
                    style="margin: 0"
                  >
                    <input
                      type="hidden"
                      name="productId"
                      th:value="${item.product.id}"
                    />
                    <button
                      type="submit"
                      class="btn btn-secondary mb-2"
                      style="margin: 0"
                    >
                      Remove from Cart
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <a th:href="@{/checkout}" class="btn btn-primary">Checkout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Include the footer -->
    <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>
