<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments/header :: header"></head>
    <title>Ecommerce - Cart</title>
</head>
<body>
    <div>
        <!--- navbar and account bar -->
        <div th:replace="fragments/navbar :: navbar"></div>

    </div>
    <div>
        <h1>Cart</h1>
        <!--- should loop over the list-->
   <div class="container">
<!--       Template for cards-->
<!--       <div class="card mb-3">-->
<!--           <img src="..." class="card-img-top" alt="...">-->
<!--           <div class="card-body">-->
<!--               <h5 class="card-title">Card title</h5>-->
<!--               <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--               <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>-->
<!--           </div>-->
<!--       </div>-->
       <li th:each="item : ${cart.items}">
       <ul>
           <div class="card">
           <div class="card-body">
               <h5 class="card-title">Card title</h5>
               <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
               <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
               <span th:text="${item.productName}"></span> -
               <span th:text="${item.quantity}"></span> x
               <span th:text="${item.price}"></span>
           </div>
<!--           image needs to link to the image stored in the database-->
           <img src="..." class="card-img-bottom" alt="...">
       </ul>
           </li>
       </div>
   </div>
        <a th:href="@{/checkout}" class="btn btn-primary">Checkout</a>
    </div>
    <!-- Include the footer -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>