<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
    <title>E-Commerce Website</title>
</head>
<body>
<!-- Include the navbar -->
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card w-50 shadow-lg">
        <div class="card-body">
            <h1 class="text-center">Enter Your email to reset your password</h1>
            <form th:action="@{/password_reset}" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="Enter your email" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Include the footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>