<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header">
        <title>E-Commerce Website</title>
    </head>
    <body>
    <!-- Include the navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card w-50 shadow-lg">
            <div class="card-body">
                <h1 class="text-center">Welcome to the Store! <br>Login</h1>

                <form th:action="@{/perform_login}" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" id="email" name="email" class="form-control" placeholder="Enter your email" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" required>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <p class="text-center mt-3">
                    <a th:href="@{/register}">Don't have an account? Register here</a>.
                </p>
                <p class="text-center mt-3">
                    <a href="forgot_password">Forgot Password?</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Include the footer -->
            <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>