<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <head th:replace="fragments/header :: header"></head>
    <title th:text="${product.name} + ' - Product Details'">
      Product Details
    </title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div>
      <div th:replace="fragments/navbar :: navbar"></div>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card text-center">
            <div class="card-header">
              <h1 th:text="${product.name}">Product Name</h1>
            </div>
            <div class="card-body">
              <p th:text="${product.description}">description</p>
              <p th:text="'Price: $' + ${product.price}">price</p>
              <p th:text="'Quantity: ' + ${product.stock}">quantity</p>
              <p th:text="'Delivery Time: ' + ${product.deliveryTime}">
                delivery time
              </p>
              <form th:action="@{/cart/add}" method="post">
                <input
                  type="hidden"
                  name="productId"
                  th:value="${product.id}"
                />
                <button type="submit" class="btn btn-primary mb-3">
                  Add to Cart
                </button>
              </form>
              <form th:action="@{/wishlist/add}" method="post">
                <input
                  type="hidden"
                  name="productId"
                  th:value="${product.id}"
                />
                <button type="submit" class="btn btn-secondary">
                  Add to Wishlist
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
