<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments/header :: header"></head>
    <title>Ecommerce - Wishlist</title>

</head>
<body>
    <div>
        <div>
            <!--- navbar and account bar -->
            <div th:replace="fragments/navbar :: navbar"></div>
        </div>
    </div>
    <div class="container">
        <h1>Wishlist</h1>
        <div th:if="${wishlist.items == null || #lists.isEmpty(wishlist.items)}">
            <p>Your wishlist is empty. Start adding items to see them here!</p>
        </div>
        <!-- loop over wishlist items -->
        <ul th:unless="${wishlist.items == null || #lists.isEmpty(wishlist.items)}">
        <li th:each="item : ${wishlist.items}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.productName}">Product Name</h5>
                        <p class="card-text">Quantity: <span th:text="${item.quantity}">1</span></p>
                        <p class="card-text">Price: $<span th:text="${item.price}">0.00</span></p>
                    </div>
                    <img th:src="${item.imageUrl}" class="card-img-bottom" alt="Product Image">
                </div>
            </li>
        </ul>
    </div>

    <!-- Include the footer -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>