<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments/header :: header"></head>
    <title>Ecommerce - Wishlist</title>

</head>
<body>
    <div>
        <div>
            <!--- navbar and account bar -->
            <div th:replace="fragments/navbar :: navbar"></div>
        </div>
    </div>
    <div>


        <div class="container">
            <h1>Wishlist</h1>
            <!--- should loop over the list-->
            <li th:each="item : ${wishlist.items}">
                <ul>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            <span th:text="${item.productName}"></span> -
                            <span th:text="${item.quantity}"></span> x
                            <span th:text="${item.price}"></span>
                        </div>
                        <!--           image needs to link to the image stored in the database-->
                        <img src="..." class="card-img-bottom" alt="...">
                </ul>
            </li>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
                <img src="..." class="card-img-bottom" alt="...">
            </div>
        </div>
    </div>
    <!-- Include the footer -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>